@import "../../../../styles/global.scss";
@import "../../../../styles/icons.scss";

.home-container {
    padding: 30px 40px;
    height: 100%;
}

#page-description {
    width:500px;
}

.search-input-group {
    width:600px;
}

.category-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.privacy-statement {
    width: 100%;
    text-align: right;
    padding: 20px 50px;
}

.main-area {
    padding-top:10px;
}

::placeholder {
    color: #626262;
}


:host {
    display: block;

    fab-button {
      margin-right: 20px;
    }

    hr {
      margin: 40px 0 20px 0;
    }
  }


  .search-box{
    height: 23px;
    width: 330px;
    box-sizing: border-box;
}


//For new home page

.home-main-area {
  padding-left: 30px;
}

.home-title-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.home-title-text {
  font-size: 13;
}

.home-search {
  margin: 20px 0px;
  display: flex;
}

.home-search-text {
  margin: auto 20px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  color:var(--sectionTitle);
  outline: none;
}


.section-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.home-tiles {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.home-tile-wrapper {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 15px;
}

.quick-link {
  margin: 10px 0px;
}

.home-spinner {
  display: flex;
  margin-top: 20px;
}

.home-main-area a {
  color: var(--link);
}

.switch2new-context-text, .switch2old-context-text{
  background: #b3d6f2;
}

.home-banner {
  font-size: 12px;
  line-height: 30px;
  padding: 2px 5px 2px 30px;
}

.home-banner-preview {
    background-color: var(--homeBannerPreview);
}

.home-banner-prod {
    background-color: var(--homeBannerProd);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  height: 60vh;
  width: 70vw;
}

#canvas {
  height: calc(100% - 50px);
  background: #f0f0f0;
  flex: 1;
  margin: 50px 0 0 50px;
  background-size: 30px 30px;
  background-image: linear-gradient(to right, #d9d9d9 1px, transparent 1px),
      linear-gradient(to bottom, #d9d9d9 1px, transparent 1px);
}

#palette {
  width: 300px;
  padding: 16px;
}

#palette .plugin-op {
  padding: 12px;
  user-select: none;
  display: block;
}

#palette .plugin-op:hover {
  background: rgba(0, 0, 0, 0.04);
}

section {
  padding: 1em;
  border-bottom: 1px solid lightgrey;
}

section .wide {
  width: 100%;
}

.sub-section {
  padding: 0.5em 0;
}

select {
  padding: 0.3em;
}

.card {
  padding: 1em;
  background: white;
  box-shadow: 0px 4px 2em rgba(22, 33, 74, 0.05);
  border-radius: 4px;
  min-width: 12em;
  min-height: 10em;
}

.condition {
  background: white;
  box-shadow: 0px 4px 2em rgba(22, 33, 74, 0.05);
  min-height: 6em;
  min-width: 20em;
}

.choose {
  padding: 1em;
  height: 10em;
  min-width: 40em;

}

.iftrue {
  border: 1px solid green;
}

.iffalse {
  border: 1px solid red;
}

.msla-card-title-group {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  align-items: center;
  cursor: pointer;
}

.msla-card-header-title-view {
  cursor: pointer;
  color: #000;
  overflow: hidden;
  outline: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: inherit;
  padding-left: 10px;
  display: flex;
}

.msla-image-header {
  width: 23px;
  height: 23px;
  display: inline-block;
}

.completer-style  {
  width: 270px;
  height: 40px;
}

div#canvas[disabled="true"] {
  opacity: .7;
}

div#canvas[disabled="true"] ::ng-deep.ngflowchart-step-wrapper {
  opacity: .7;
}

::ng-deep .completer-input{
  width: 270px;
  height: 40px;
} 